*
{
	margin: 0;
	padding:10;
	box-sizing:border-box;
	font-family:'Arial Rounded MT',sans-serif;
}
body
{
	display: flex;
	justify-content:Right;
	align-items:center;
	min-height:100vh;
	background-color:#ccc;
}
.border{
background-color:white;
border-radius:10px;
height:580px;
width:1080px;
margin:auto;
position:relative;


}
img
{
width:480px;
height:600px;
border-radius:10px;
position:absolute;
 right:680px;
 top:-10px;
}
.box
{
	position:relative;
	top:1%;
    left:45%;
	width:510px;
	height:490px;
	background:#D0CECE;
	border-radius:70px;
	overflow:hidden;
	box-shadow:5px 5px 15px black;
	
}

.borderLine
{
	position:absolute;
	top:2;	
	inset:0;
}

.box form
{
	position:absolute;
	inset: 4px;
	background:white;
	padding:50px 15px;
	border-radius:8px;
	z-index:2;
	display:flex;
	flex-direction: column;
}
.box form h1
{
	color:black;
	font-size:30;
	font-weight:5000;
	text-align: center;
	letter-spacing:0.1em;
	font-size:3em;
	 position:relative;
	bottom:12%;
}
 .box form .links
 {
	 display:flex;
	 justify-content:space-between;
	 
 }
 .box form .links a
 {
	 margin: 10px 0;
	 font-size:0.75em;
	 color:#8f8f8f;
	 text-decoration:none;
 }
 .box form .links a:hover,
 .box form .links a:nth-child(4)
 {
	 color:#fff;
 }
button
 {
	 border:none;
	 outline:none;
	 padding: 9px 25px;
	 background-color:#fff; 
	 cursor:pointer;
	 font-size:0.9em;
	 border-radius:10px;
	 font-weight:600;
	 width:400px;
	 position:relative;
	 bottom:-5%;
	 left:5%;

 }
 button :hover
 {
	 opacity:0.08;
	 
 }
 input {
	 text-align:center;
	 border-radius:5px;
	 width:400px;
	 height:32px;
	  position:relative;
	bottom:14%;
	left:8%;
	box-shadow:5px 5px 15px black;
 }
 .box input:hover {
	 transform:scale(1.1);
	 }
 textarea
 {
	 text-align:center;
	 border-radius:5px;
	 width:400px;
	 height:50px;
	position:relative;
	bottom:18%;
	left:10%;

 }
 .text {
  color: black;
  font-size: 15px;
  padding: 8px 150px;
  position: absolute;
  bottom: 35px;
  text-align: center;
}
.area {
  color: blue;
  font-size: 15px;
  padding: 8px 220px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}
	 
	
	